.head{
    color: black;
    margin: 10px 5px;
}
.App__Form_profile{
  width: 90%;
  background-color: #2E4158;
  color:white;
  padding: 25px 40px;
  overflow: auto;
}

.App__Form_error{
  width: 90%;
  color:red;
  padding: 25px 40px;
  overflow: auto;
}
